.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    cursor: pointer;
    & > div {
      display: flex;
      align-items: center;
    }
  }

  &-right {
    display: flex;
    gap: 40px;

    & > div {
      font-size: 16px;
      color: #002248;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: #3685fb;
      }

      &:active {
        color: #3685fb;
      }
    }
  }
}
